.popular-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px 10px 10px;

    width: 100%;
}


.popular-text{
    width: 193px;
    height: 65px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.15px;
    text-transform: capitalize;
    color: #000000;
}

.popular-frameicon{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 0px;
    gap: 10px;

    width: 42.34px;
    height: 122px;

}
.popular-lefticon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1px;
    gap: 10px;

    width: 42.34px;
    height: 100px;
}   

.popular-item{
    display: flex;  
    height: 300px;
    width: 18%;
}

.popular-list{
    display: flex;
    justify-content: space-between;
}

.popular-prev{
    margin-right: 30px;
}

.popular-next{
    margin-left: 30px;
}

.popular-next>img{
    transform: rotate(-180deg)
}

