.popular-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px 10px 10px;
    width: 100%;
}


.popular-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.15px;
    text-transform: capitalize;
    color: #000000;
}

span.popular-dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}

span.popular-dot.selected {
    background-color: rgb(112, 111, 111);
}

div.popular-list {
    display: flex;
    justify-content: center;
    width: 100%;
}

ul.popular-list {
    overflow: auto;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;

    /* 讓滑軌不顯示在所有瀏覽器 */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

ul.popular-list::-webkit-scrollbar {
    /* 讓滑軌不顯示在所有瀏覽器 */ /* Safari and Chrome */
    display: none; 
}

.popular-item {
    display: flex;
    margin: 0 0.5vw;
    width: 20%;
    box-sizing: border-box;
}

.popular-arrow {
    z-index: 2;
}

.popular-arrow.right>img {
    transform: rotate(-180deg)
}