.rowcardlist-frame {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #FFFFFF;
    min-width: 950px;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
}
.rowcardlist-titlelist{
    display: flex;
    justify-content: space-around;
    background:rgba(11, 52, 110, 0.5); 
    line-height:50px;
}
.rowcardlist-titlelist span{
    font-size:30px;
    font-family: 'Open Sans';
    color:white;
}

.rowcardlist-item > li.popout-shopcar-item:last-child{
    border-bottom: 0;
}