.rowcardlist-frame {
    background-color: #FFFFFF;
    min-width: 300px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.rowcardlist-titlelist{
    display: flex;
    justify-content: space-around;
    background:rgba(11, 52, 110, 0.5); 
    line-height:50px;
}
.rowcardlist-titlelist span{
    font-size:30px;
    font-family: 'Open Sans';
    color:white;
}